
$headerColor: #10116bff;
$mainColor: #feb546ff;
$primaryColor: #aa2377;
$secondryColor: #f87c47;
$thirdColor: #5e69ff;
$footerColor: #02ccc0ff;

$lightGray: #ebebeb;
$solidGray: #c0c0c0;
$boxShadowColor: #787878;

$white: #ffffff;
$black: #000000;
$red: #cc4f4f;

$status: #e1b12c;
$pending: #f39c12;
$approved: #27ae60;
$rejected: #c0392b;
$objection: #e67e22;
$objectionReply: #009432;
$clarification: #2980b9;
$clarificationReply: #16a085;
$verificationDepartment: #1289a7;
$verificationSelf: #2e86de;
$inspection: #341f97;
$certificateDashboard: #b53471;
$certificateDashboardFirstTime: #8e24aa;
$newApplication: #c23616;
$registrationDashboard: #0a3d62;
$renewalDashboard: #2c2c54;
