@import "./assets/scss/variable";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// .box-layout {
//   padding: 0
// }

@import "./assets/scss/component/header";
@import "./assets/scss/component/footer";
@import "./assets/scss/page/home";
@import "./assets/scss/flipbook.style.css";
@import "./assets/scss/bookshelf.css";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar-toggler {
    border-color: $white;
    border-radius: 0;
    .navbar-toggler-icon {
      filter: invert(1);
    }
  }
  .menu-bg {
    .navbar-brand {
      position: relative;
      padding: 0;
      border-radius: 0;
      filter: none;

      img {
        width: 120px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .menu-bg {
    .navbar-brand {
      img{
        width: 150px;
      }
    }
  }
}
